<ion-header-bar align-title="center" class="bar-assertive">
    <!-- <div class="h1 title login-title" >添加</div> -->
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        
        </button>
    </div>
    <!--   <div class="h1 title " >添加</div> -->
    <h1 class="title ">添加</h1>
<!--     <div class="bar bar-header bar-assertive">
        <button class="button button-clear icon ion-ios-arrow-left" ng-click="back()">首页</button>
        <h1 class="title"></h1>
        <h1 class="title">添加</h1>
    </div> -->
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="blank-h12"></div>
        <!-- <div class="card">
            <a href="#/tab/addPost" class="subdued">
                <div class="item item-text-wrap" href="#/tab/addPost">
                    发帖
                </div>
            </a>
        </div> -->
        <div class="card">

            <a href="#/tab/addAct" class="subdued">
                <div class="item item-text-wrap">
                    创建课程
                </div>
            </a>
        </div>
        <div class="card">

            <a href="#/tab/addPost" class="subdued">
                <div class="item item-text-wrap">
                    加入班级
                </div>
            </a>
        </div>
    <!--     <div class="card">
            <a href="#/tab/addPost" class="subdued">
                <div class="item item-text-wrap">
                    简单操作PPT
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#/tab/addAct" class="subdued">
                <div class="item item-text-wrap">
                    复杂操作PPT
                </div>
            </a>
        </div> -->
    </ion-content>
</ion-view>
